* {
	margin: 10px;
	padding: 10px;
	box-sizing: border-box;
}
.padre {
	display: flex;
	flex-flow: column nowrap
}
	.header {
		background: black;
		display: flex;
		flex-flow: column nowrap;

	}
	.menu {
		display: flex;
		flex-flow: row nowrap;
	}
		.logo {
			background: green;
			flex: 0 1 auto;
			height: auto;
			width: auto;
		}
			.img {
				background: yellow;
				flex: 1 1 auto;
				height: 50**px;
				max-width: 101px;
				max-height: 50px;
			}
		.social {
			background: green;
			flex: 2 2 auto;
		}
			.titulo{
				background: yellow;
				flex: 2 2 auto;
				height: 50px;
				text-align: center;
			}
	.section {
		background: black;
		display: flex;
		flex-flow: row wrap;
		flex-direction: row;
	}
		.side {
			flex: 1 1 auto;
			background: green;
			flex-direction: column;
			display: flex;
			
		}
			.navegacion {
				background: yellow;
				max-width: 210px;
			}
		.articulos {
			flex: 2 1 auto;
			background: green;
			display: flex;
			flex-direction: column;

		}
			.articulos1 {
				background: yellow;
				max-width: 855px;
				border-style: solid;
	border-radius: 10px;
			}
	.footer {
		background: black;
	}
		.pie {
			background: yellow;
			display: flex;
			justify-content: left;
		}
			.textopie {
				background-color: yellow;
				width: 90%;
			}
@media all and (max-width: 800px){
	.section {
		flex-direction: column;
	}
	.menu {
		flex-direction: column;
		height: auto;
	}
	.side {
		display: flex;
		justify-content: center;
	}
}
@media all and (max-width: 800px){
	.articulos {
		flex-direction: column;
	}
}
@media all and (max-width: 800px){
	.side {
		flex-direction: column;
	}
}
.titulo_tabla {
	text-decoration: underline;
	font-family: "Times New Roman", Times, serif;
}
table {
	text-align: center;
	margin: 0 auto;
}
p {
	text-align: center;
}
.textopie_1{
	font-size: 60%;
	text-align: center;
}
